body {
  font-family: "Audiowide", cursive;
  padding: 0 20px;
  background-image: linear-gradient(
    to bottom,
    #20fffa,
    #00d3f1,
    #00a6de,
    #0079c0,
    #004d97,
    #004d97,
    #004d97,
    #004d97,
    #0079c0,
    #00a6de,
    #00d3f1,
    #20fffa
  );
}

h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}
h2 {
  text-align: center;
}
h1,
h2,
h3 {
  color: #231d3c;
}

.circle {
  height: 350px;
  width: 350px;
  margin-left: 200px;
  margin-top: -100px;
  border-radius: 50%;
  background-color: rgb(255, 165, 0, 0.8);
  z-index: -1;
  position: absolute;
}

h1 {
  margin-bottom: 0 auto;
}

.conditions {
  list-style-type: none;
  text-align: right;
  padding: 0px;
  margin-right: -90px;
}
.diagonal-Top-Box {
  background-image: linear-gradient(45deg, #eb016e, #ff0099);
  transform: skewY(0deg);
  width: 200px;
  margin-left: 220px;
  margin-top: 40px;
  margin-bottom: -50px;
  text-align: center;
}
.content {
  max-width: 50em;
  margin: 0 auto;
  text-align: 12px;
}
.diagonal-Middle-Box {
  background-image: linear-gradient(45deg, #6303b1, #ff0099);
  transform: skewY(-10deg);
  width: 300px;
  height: 80px;
  margin-left: 160px;
  margin-top: 10px;
  font-size: 54px;
}

.diagonal-temperature-Box {
  background-image: linear-gradient(45deg, #6303b1, #ff0099);
  transform: skewY(-11deg);
  font-size: 40px;
}

.diagonal-Bottom-Box {
  background-image: linear-gradient(45deg, #eb016e, #ff0099);
  transform: skewY(10deg);
  width: 300px;
  margin-left: 90px;
  margin-top: 15px;
  text-align: right;
  font-size: 30px;
}
#icon {
  margin-top: -40px;
  height: 60px;
}
hr {
  background-color: #eb016e;
  height: 300px;
  padding: -20px;
}
.card {
  width: 140px;
  height: 100px;
  list-style: none;
  margin-left: 140px;
  background-color: #eb016e;
  box-shadow: 5px 50px 18px #eb016e;
  margin-top: 100px;
}
.line-1,
.line-3 {
  text-align: right;
  border: none;
}
.line-2 {
  border: none;
}
.line-3 {
  padding: 3px;
}
.line-1,
.line-2,
.line-3 {
  background: linear-gradient(150deg, #f731db, #4600f1 100%);
}

#forecast-icon {
  height: 50px;
}

.card-city {
  background-color: rgba(0, 18, 236, 0.3);
  border-radius: 10px;
  width: 100%;
  margin-left: 150px;
  margin-top: 300px;
}

#search {
  background-color: #f731db;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}

.img-positioning {
  display: block;
  margin: 30px auto;
  width: 75%;
}

#Location {
  display: block;
  margin-left: 320px;
  margin-bottom: 20px;
  padding: 20px, 20px;
  box-shadow: 18px 10px;
  background-color: #f0ac0f;
}

#open-source {
  text-decoration: underline;
  color: #004d97;
  text-align: center;
}
.code {
  font-size: 12px;
  text-align: right;
  color: #ed0173;
}
